.sidebar {
    grid-area: sidebar;
    background-color: var(--Negro);
    padding-top: 10px;
    overflow-y: scroll;
  }
  
  .sidebar-items {
    display: flex;
    flex-direction: column;
    padding: 0 14px;
  }
  
  .sidebar-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    border-radius: 10px;
    transition: 0, 5s;
  }
  
  .sidebar-item i {
    margin-right: 24px;
  }
  
  .sidebar-item:hover {
    background-color: var(--Gris);
  }



  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: var(--Gris);
  }
  