@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --Blanco:#fff;
  --Gris: #494949;
  --Negro: #000000;
  --Bordes: rgba(255, 255, 255, 0.1);
  --TextoVideo: #aaa;
  --Botones: #313131;
}


/*layout*/

body {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    "header header"
    "sidebar container";
  height: 100vh;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--Blanco);
}

h1 {
  font-size: 1.5rem;
}

hr {
  border: solid 1px var(--Bordes);
  margin: 12px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: var(--Gris);
}

i {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: var(--Gris);
  margin-left: 20px;
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  gap: 6;
  background-color: var(--Negro);
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
}

.logo-img {
  position: relative;
  height: 25px;
  width: 30px;
}

.logo h1 {
  letter-spacing: -1px;
  color: var(--Blanco);
}

.search-container {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 0 1 685px;
}

.search-container form {
  position: relative;
  width: 100%;
  display: flex;
}

.search-container input {
  width: 44px;
  width: 100%;
  background-color: var(--Negro);
  color: var(--Blanco);
  padding: 12px;
  outline: none;
  border: 1px solid var(--Gris);
  border-radius: 10px 0px 0px 10px;
}

.search-container button {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: var(--Botones);
  color: var(--Blanco);
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.8s;
}

.search-container button:hover {
  background-color: var(--Gris);
}

.search-container form ~ button {
  border-radius: 50%;
}

.perfil-container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 6px;
  margin-right: 10px;
}

.perfil-container a {
  background-color: var(--Gris);
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
}

.perfil-container a:hover {
  background-color: var(--Botones);
}

.perfil-container img {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--Negro);
  padding-top: 10px;
  overflow-y: scroll;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
}

.sidebar-item {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 10px;
  transition: 0, 5s;
}

.sidebar-item i {
  margin-right: 24px;
}

.sidebar-item:hover {
  background-color: var(--Gris);
}

.content {
  grid-area: container;
}

.chips-warpper {
  max-width: calc(100vw - 240px);
  overflow-x: scroll;
  background-color: var(--Negro);
  display: flex;
  padding-left: 14px;
  border-top: 1px solid var(--Bordes);
  border-bottom: 1px solid var(--Bordes);
}

.chips-warpper::-webkit-scrollbar {
  height: 6px;
}

.chips-warpper::-webkit-scrollbar-thumb {
  background-color: var(--Gris);
}

.chips {
  margin: 12px 6px;
  background-color: var(--Gris);
  padding: 6px 12px;
  color: var(--Blanco);
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.5s;
}

.chips:hover {
  background-color: var(--Negro);
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 18px;
  padding: 20px;
  background-color: var(--Negro);
  overflow-y: scroll;
  height: calc(100vh - 119px);
}

.video-container-cover {
  position: relative;
  transition: 0.5s;
}

.video-content {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  transition: 1s;
}

.video-content:hover {
  background-color: var(--Gris);
}

.vide-box {
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}

.vide-box img {
  object-fit: cover;
  border-radius: 12px;
}

.video-detail {
  display: flex;
  color: var(--Blanco);
  padding-top: 12px;
}

.chanel-logo {
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.detail {
  margin-left: 12px;
}

.title {
  font-size: 0.9rem;
}

.chanel-name {
  font-size: 0.8rem;
  margin-top: 10px;
  color: var(--TextoVideo);
}

.views-uploud {
  display: flex;
  font-size: 0.8rem;
  margin-top: 4px;
  color: var(--TextoVideo);
}

.upload {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: 70px 1fr;
  }
  .sidebar-items span,
  .sidebar-items h4 {
    display: none;
  }
  .sidebar-items {
    padding: 0;
  }
  .sidebar-item {
    padding: 0 20px;
  }
  .search-container {
    display: none;
    max-width: 800px;
  }
}
